In [1]:
import pandas as pd
a=pd.read_csv("employees details.csv")
print(a)

    Emp ID Name Prefix First Name Middle Initial Last Name Gender  \
0   677509        Drs.       Lois              H    Walker      F
1   940761         Ms.     Brenda              S  Robinson      F
2   428945         Dr.        Joe              W  Robinson      M
3   408351        Drs.      Diane              I     Evans      F
4   193819         Mr.   Benjamin              R   Russell      M
..     ...         ...        ...            ...       ...    ...
95  639892         Mr.       Jose              K      Hill      M
96  704709         Dr.     Harold              Z    Nelson      M
97  461593         Ms.     Nicole              O      Ward      F
98  392491        Mrs.    Theresa              R    Murphy      F
99  495141        Drs.      Tammy              B     Young      F

                          E Mail     Father's Name       Mother's Name  \
0        lois.walker@hotmail.com     Donald Walker        Helen Walker
1      brenda.robinson@gmail.com  Raymond Robinson       Judy Robinson
2         joe.robinson@gmail.com    Scott Robinson  Stephanie Robinson
3          diane.evans@yahoo.com       Jason Evans      Michelle Evans
4   benjamin.russell@charter.net   Gregory Russell   Elizabeth Russell
..                           ...               ...                 ...
95         jose.hill@hotmail.com       Carlos Hill           Anna Hill
96       harold.nelson@gmail.com    Richard Nelson       Pamela Nelson
97         nicole.ward@yahoo.com        Ralph Ward          Julia Ward
98      theresa.murphy@gmail.com     George Murphy   Jacqueline Murphy
99       tammy.young@comcast.net      Andrew Young        Brenda Young

   Mother's Maiden Name  Salary
0                 Lewis  168251
1                 Perry   51063
2                Taylor   50155
3                 Allen  180294
4                Nelson  117642
..                  ...     ...
95                Hayes  129774
96                Smith  156194
97                  Lee   95673
98             Peterson   51015
99             Robinson   93650

[100 rows x 11 columns]

In [4]:
import pandas as pd
d=pd.read_csv("employees details.csv")
df=pd.DataFrame(d)
print("Columns :",df.columns)

Columns : Index(['Emp ID', 'Name Prefix', 'First Name', 'Middle Initial', 'Last Name',
       'Gender', 'E Mail', 'Father's Name', 'Mother's Name',
       'Mother's Maiden Name', 'Salary'],
      dtype='object')

In [6]:
print("Shape : ",df.shape)

Shape :  (100, 11)

In [22]:
print("\n E Mail : \n\n",df['E Mail'])

 E Mail :

 0          lois.walker@hotmail.com
1        brenda.robinson@gmail.com
2           joe.robinson@gmail.com
3            diane.evans@yahoo.com
4     benjamin.russell@charter.net
                  ...
95           jose.hill@hotmail.com
96         harold.nelson@gmail.com
97           nicole.ward@yahoo.com
98        theresa.murphy@gmail.com
99         tammy.young@comcast.net
Name: E Mail, Length: 100, dtype: object

In [19]:
print("\nPRINTING A SET OF ROWS:\n\n",df[55:61])

PRINTING A SET OF ROWS:

     Emp ID Name Prefix First Name Middle Initial Last Name Gender  \
55  253573         Ms.     Sharon              E     Lopez      F
56  904898        Drs.        Ann              Q    Cooper      F
57  515103         Ms.       Anne              A     Perez      F
58  491943        Mrs.      Nancy              P    Howard      F
59  750173         Mr.    Antonio              R   Roberts      M
60  687017         Ms.    Frances              P    Watson      F

                         E Mail    Father's Name   Mother's Name  \
55       sharon.lopez@gmail.com     Daniel Lopez     Susan Lopez
56    ann.cooper@exxonmobil.com    Harold Cooper  Mildred Cooper
57     anne.perez@sbcglobal.net    Douglas Perez     Doris Perez
58       nancy.howard@gmail.com   Gregory Howard  Mildred Howard
59  antonio.roberts@hotmail.com  Timothy Roberts   Diana Roberts
60   frances.watson@outlook.com      Adam Watson    Diana Watson

   Mother's Maiden Name  Salary
55                Hayes  190139
56             Williams  182521
57               Bailey  114426
58               Flores  101553
59            Rodriguez  181646
60                Jones   46945

In [15]:
print("Particular row:\n\n",df.loc[3])

Particular row:

 Emp ID                                 408351
Name Prefix                              Drs.
First Name                              Diane
Middle Initial                              I
Last Name                               Evans
Gender                                      F
E Mail                  diane.evans@yahoo.com
Father's Name                     Jason Evans
Mother's Name                  Michelle Evans
Mother's Maiden Name                    Allen
Salary                                 180294
Name: 3, dtype: object

In [24]:
print("\nPRINTING A ROW BY EQUATING A PARTICULAR VALUE:\n\n")
print(df.loc[d['Salary']==180294])

PRINTING A ROW BY EQUATING A PARTICULAR VALUE:


   Emp ID Name Prefix First Name Middle Initial Last Name Gender  \
3  408351        Drs.      Diane              I     Evans      F

                  E Mail Father's Name   Mother's Name Mother's Maiden Name  \
3  diane.evans@yahoo.com   Jason Evans  Michelle Evans                Allen

   Salary
3  180294

In [25]:
a=df['Salary']/2
print(a)

0     84125.5
1     25531.5
2     25077.5
3     90147.0
4     58821.0
       ...
95    64887.0
96    78097.0
97    47836.5
98    25507.5
99    46825.0
Name: Salary, Length: 100, dtype: float64

In [27]:
print(df.loc[d['First Name']=='Roy'])

    Emp ID Name Prefix First Name Middle Initial Last Name Gender  \
33  456747         Mr.        Roy              Z   Griffin      M

                   E Mail     Father's Name  Mother's Name  \
33  roy.griffin@yahoo.com  Benjamin Griffin  Wanda Griffin

   Mother's Maiden Name  Salary
33              Simmons  170895

In [28]:
print(df.head())

   Emp ID Name Prefix First Name Middle Initial Last Name Gender  \
0  677509        Drs.       Lois              H    Walker      F
1  940761         Ms.     Brenda              S  Robinson      F
2  428945         Dr.        Joe              W  Robinson      M
3  408351        Drs.      Diane              I     Evans      F
4  193819         Mr.   Benjamin              R   Russell      M

                         E Mail     Father's Name       Mother's Name  \
0       lois.walker@hotmail.com     Donald Walker        Helen Walker
1     brenda.robinson@gmail.com  Raymond Robinson       Judy Robinson
2        joe.robinson@gmail.com    Scott Robinson  Stephanie Robinson
3         diane.evans@yahoo.com       Jason Evans      Michelle Evans
4  benjamin.russell@charter.net   Gregory Russell   Elizabeth Russell

  Mother's Maiden Name  Salary
0                Lewis  168251
1                Perry   51063
2               Taylor   50155
3                Allen  180294
4               Nelson  117642